.alert {
  display: none;
}

.panel-heading {
  height: 55px;
  line-height: 35px;
  font-weight:bold;
  font-size:20px;
}

.panel-body {
  display:none;
}

.body-show {
  display:block;
}

.btn-complete, .btn-remove {
  float: right;
}

.btn-complete {
  margin-right: 10px;
}

#to-do-list{
  margin-top: 23px;
}

.complete {
  text-decoration: line-through;
  text-decoration-color: red;
}
